.modal-dialog.modal-size {
    width: 90% !important;
    // @media (max-width: $screen-sm) { width: 100%; }
    // @media (min-width: $screen-sm) and (max-width: $screen-md) { width: 70%; }
    // @media (min-width: $screen-md) and (max-width: $screen-lg) { width: 50%; }
    // @media (min-width: $screen-lg) { width: 40%; }
}
.or {
    outline: 1px solid red;
}
.ob {
    outline: 1px solid blue;
}

#ef-creative-builder {
    .col-sm-12.full-width .form-inline input {
        @media (max-width: $screen-sm) { width: 100%; }
        @media (min-width: $screen-sm) and (max-width: $screen-md) { width: 70%; }
        @media (min-width: $screen-md) and (max-width: $screen-lg) { width: 50%; }
        @media (min-width: $screen-lg) { width: 40%; }
    }
    .form-group label {
        text-align:right;
    }


}
