.modal-dialog.modal-size {
    width: 90% !important;
    // @media (max-width: $screen-sm) { width: 100%; }
    // @media (min-width: $screen-sm) and (max-width: $screen-md) { width: 70%; }
    // @media (min-width: $screen-md) and (max-width: $screen-lg) { width: 50%; }
    // @media (min-width: $screen-lg) { width: 40%; }
}
.or {
    outline: 1px solid red;
}
.ob {
    outline: 1px solid blue;
}

#ef-creative-builder {
    .header {
        padding:15px;
        border-bottom: 1px solid #e5e5e5;
        min-height: 16px;
    }
    .body {
        position: relative;
        padding: 15px;
    }

    .container-top{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .container-middle {
        border-top:1px solid #ddd;
    }

    .container-bottom {
        border-top:1px solid #ddd;
        padding: 30px 8px;
        button + button {
            margin-right: 10px;
        }
        button > i + span {
            margin-left: 5px;
        }
    }

    .simulator-region-wrap {
        .simulator-region {
            margin: 50px auto;
            background: #ddd;
            width: 300px;
            height: 600px;
        }
    }

    .full-width-centered {
        @media (min-width: $screen-md) {
            width: 80%;
            margin-left:5%;
            margin-right:15%;
        }
        @media (max-width: $screen-md) { width: 100%; }
    }

    .form-group-wrap + .form-group-wrap {
        padding-top: 5px;
    }
    .form-group-wrap {
        padding-top: 20px;
    }

    .form-group label {
        text-align:right;
    }

    .radio-wrap {
        margin-left: 20px;
        input {
            margin-left: -20px;
        }
        span {
           margin-left: 10px;
           font-weight: normal;
        }
    }

    .form-group {
        label {
            span {
                margin-right: 2px;
            }
            i.fa.fa-asterisk.text-danger {
                vertical-align: super;
                font-size:8px;
            }
        }
    }

    .asset-wrap + .asset-wrap {
        padding-left: 0px;
        padding-right: 0px;
        margin-top:15px;
        margin-bottom: 15px;
    }
    .asset-wrap {
        @include clearfix;

        border-radius: 10px;
        ul {
            padding-top: 10px;
            padding-left: 10px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-top: 1px solid #ddd;
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
            background: #eeeeee;
        }
        .tab-content {
            padding: 10px;
            border: 1px solid #ddd;
            border-top: none;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }

    #format {
        .container-top .form-group-wrap {
            > *  {
                padding: 0 20px;
            }
            label {
                @media (min-width: $screen-sm) {float:right;}
            }
        }
    }


}
