include ./maxin-formGroupInput.jade

.asset_wrap
    ul.nav.nav-tabs#asset-1-tab
        li
            a(data-target='#asset-1a' ) Icon Uploaded Assets
        li.active
            a(data-target='#asset-1b' ) Icon Input by URL
    .tab-content
        .tab-pane#asset-1a
            p asset 1a
        .tab-pane.active#asset-1b
            // native:icon_image_url (Icon Input URL)
            +formGroupInput('icon_image_url', 'Icon Input URL', true, 'text', 'native')
            // native:icon_image_preview_url (Icon Preview URL)
            +formGroupInput('icon_image_preview_url', 'Icon Preview URL', true, 'text', 'native')

.asset_wrap
    ul.nav.nav-tabs#asset-2-tab
        li
            a(data-target='#asset-2a' ) Banner Uploaded Assets
        li.active
            a(data-target='#asset-2b' ) Banner Input by URL
    .tab-content
        .tab-pane#asset-2a
            p asset 2a
        .tab-pane.active#asset-2b
            // native:icon_image_url (Icon Input URL)
            +formGroupInput('banner_image_url', 'Banner Image URL', true, 'text', 'native')
            // native:icon_image_preview_url (Icon Preview URL)
            +formGroupInput('banner_image_preview_url', 'Banner Preview URL', true, 'text', 'native')

.asset_wrap
    ul.nav.nav-tabs#asset-3-tab
        li
            a(data-target='#asset-3a' ) Uploaded Assets
        li.active
            a(data-target='#asset-3b' ) Input By Url
    .tab-content
        .tab-pane#asset-3a
            p asset 3a
        .tab-pane.active#asset-3b
            // video:video_image_preview_url (Image Preview URL)
            +formGroupInput('video_image_preview_url', 'Image Preview URL', true, 'text', 'video')
            // video:video_url (Video URL)
            +formGroupInput('video_url', 'Video URL', true, 'text', 'video')
            // video:image_preview_url (Video Preview URL)
            +formGroupInput('banner_image_preview_url', 'Video Preview URL', true, 'text', 'video')
            // standard:image_url (Input URL)
            +formGroupInput('image_url', 'Input URL', true, 'text', 'video', 'standard')
            // MRAID:image_preview_url (Preview URL)
            // HTMLJS:image_preview_url (Preview URL)
            // standard:image_preview_url (Preview URL)
            // NOTE: this field is same as video_image_preview_url
            +formGroupInput('image_preview_url', 'Preview URL', true, 'text', 'MRAID HTMLJS standard')


