include ./maxin-formGroupInput.jade

.container-top
    .row
        .col-sm-12.full-width
            // name
            .form-inline
                label
                    span Creative Name
                    i.fa.fa-asterisk.text-danger
                input(data-id='name', autofocus, type='text' class='form-control')

.container-middle
    .row
        .col-md-5
            p simulator
        .col-md-7

            // native:title (Title)
            +formGroupInput('title', 'Title', true, 'text', 'native')

            // native:text  (Content)
            +formGroupInput('text', 'Content', true, 'text', 'native')

            include ./assets.jade

