include ./maxin-formGroupInput.jade

.container-top
    .row
        .col-sm-12
            .full-width-centered
                +formGroupInput('name', 'Creative Name', true, 'text', 'common')

.container-middle
    .row
        .col-lg-5
            .simulator-region-wrap.clearfix
                .simulator-region
        .col-lg-7


            include ./assets.jade

            .panel.panel-default
                .panel-heading
                    h5 Content
                .panel-body
                    // native:title (Title)
                    +formGroupInput('title', 'Title', true, 'text', 'native')

                    // native:text  (Content)
                    +formGroupInput('text', 'Content', true, 'text', 'native')

                    // native:
                    +formGroupInput('call_to_action', 'Call To Action', true, 'text', 'native')

                    // native:
                    +formGroupInput('star_rating', 'Star Rating', true, 'text', 'native')

            .panel.panel-default
                .panel-heading
                    h5 Click Through
                .panel-body
                    .radio-wrap
                        label(for='third_party_clickthrough_true')
                            input( type='radio' name='third_party_clickthrough' value='true' id='third_party_clickthrough_true')
                            span I'm not using a third-party clicktracker.
                    .radio-wrap
                        label( for='third_party_clickthrough_false')
                            input( type='radio' name='third_party_clickthrough' value='false' id='third_party_clickthrough_false')
                            span I'm using a third-party clicktracker. The banner links to a third-party adserver, which redirects the user to the landing page.

                    // common:clickghrough_url (Clickthrough URL)
                    +formGroupInput('clickghrough_url', 'Clickthrough URL', true, 'text', 'common')

                    // common:landing_page  (Landing Page)
                    +formGroupInput('landing_page', 'Landing Page', true, 'text', 'native')

            .panel.panel-default
                .panel-heading
                    .row
                        .col-xs-8
                            h5 Third Party Pixels
                        .col-xs-4
                            button.btn.pull-right +Add
                .panel-body

                    div(class='input-group-wrap' data-useby='xxx')
                        .input-group
                            input( id='', data-id='', autofocus, type='', class='form-control')
                            span(class='input-group-addon' id='xxxx') remove
                    div(class='input-group-wrap' data-useby='xxx')
                        .input-group
                            input( id='', data-id='', autofocus, type='', class='form-control')
                            span(class='input-group-addon' id='xxxx') remove
                    div(class='input-group-wrap' data-useby='xxx')
                        .input-group
                            input( id='', data-id='', autofocus, type='', class='form-control')
                            span(class='input-group-addon' id='xxxx') remove

.container-bottom
    .row
        .col-sm-12
            button(class='btn btn-link', data-action='cancel', type='button')
                span Cancel
            button(class='btn btn-success pull-right', data-action='save-and-audit', type='button')
                i.fa.fa-floppy-o
                span Save and Audit
            button(class='btn btn-primary pull-right', data-action='save', type='button')
                i.fa.fa-floppy-o
                span Save
