include ./maxin-formGroupInput.jade

.panel.panel-default
    .panel-heading
        h5 HTML Markup
    .panel-body
        div
            .form-group
                label( for='xx' class='col-sm-3 control-label')
                    span Html Markup
                    i.fa.fa-asterisk.text-danger
                .col-sm-9
                    pre(class='')
                        textarea



