doctype html
html
  head
    title creative-builder-static
    link(rel="stylesheet", href="main.css")
  body
    .modal.fade#ef-creative-builder
        .modal-dialog.modal-size
            .modal-content
                // --------- cut here  --------------------
                //<div id="modal-body">
                .header
                    button( type='button', class='close', data-dismiss='modal', aria-label='close')
                        span( aria-hidden='true') &times;
                    h4.modalx-title Edit/New Creative
                .body
                    form.form-horizontal
                        ul.nav.nav-tabs#creative-tab
                            li.active
                                a(data-target='#format' ) Format
                            li
                                a(data-target='#customize' ) Customize
                        .tab-content
                            .tab-pane.active#format
                                include ./format.jade
                            .tab-pane#customize
                                include ./customize.jade
                //</div>
                // ----------------- cut here  --------------------
    script(src="app.js")

