doctype html
html
  head
    title hello!
    link(rel="stylesheet", href="main.css")
  body
    // .modal-body
    //     legend.clearfix
    //         h3 Edit/New creative
    //     form.form-horizontal
    //         .row
    //             .col-sm-7
    //                 .panel.panel-default
    //                     .panel-heading
    //                         h3.panel-title Basics
    //                     .panel-body
    //              .col-sm-5
    //                  small

    .modal.fade#ef-creative-builder
        .modal-dialog.modal-size
            .modal-content
                .modal-header
                    button( type='button', class='close', data-dismiss='modal', aria-label='close')
                        span( aria-hidden='true') &times;
                    h4.modalx-title Edit/New Creative
                .modal-body
                    form
                        ul.nav.nav-tabs#creative-tab
                            li.active
                                a(data-target='#format' ) Format
                            li
                                a(data-target='#customize' ) Customize
                        .tab-content
                            .tab-pane.active#format
                                p
                                    | format
                            .tab-pane#customize
                                include ./customize.jade

    script(src="app.js")

